[Unit]
Description=emailsender

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=FROM="YOUR MAIL ID"
Environment=PASS="YOUR MAIL PASSWORD"
Environment=DBHOST="YOUR DB HOST"
Environment=DBUSER="YOUR DB USER"
Environment=DBPASS="YOUR DB PASSWORD"
Environment=DBPORT="3306"
ExecStart=/home/tutree/Desktop/Assignment/app

[Install]
WantedBy=multi-user.target
